* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul, li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #F8FAFC;
    
}


.sidebar {
    grid-row: 1 / 3;
    display: grid;
    background-color: #F8FAFC;
}

.header-top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

}

.header-bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat();
    align-items: center;
}

.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #CBD5E1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1 / 4;
}


.announcements {
    grid-column: 3 / 4;
    background-color: #F1F5F9;
    border-radius: 5%;
    padding: 1rem;
    margin-bottom: 1rem;

}

.trending {
    grid-column: 3 / 4;
    background-color: #F1F5F9;
    border-radius: 5%;
    padding: 1rem;
}

.project-actions {
    display: grid;
    grid-auto-flow: column;
}

.project-actions > li {
    height: 2rem;
    width: 2rem;
}

.navigation {
    padding: 0;

}

.navigation>li {
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    
}

.profilepicture {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;

}

.logo {
    display: flex;
    width:100%;
    height: fit-content;
    align-items: center;
}

.logo>img {
    width: 50%;
    align-self: flex-start;
}

.header-top>img:not(.profilepicture) {
    height: 2rem;
    width: 2rem;
}

button {
    border-radius: 4rem;
}

.header-top>img.profilepicture {
    grid-column: 5 / 6
}

.displayname {
    grid-column: 5 / 6;
    justify-self: end;
}

.header-bottom>p {
    position: relative;
    right: 5rem;
}

li {
    margin-bottom: 1.5rem;
}

.navigation>li>p {
    margin-left: .5rem;
}

.sidebar>ul {
    height: fit-content;
}

.article {
    background-color: #F1F5F9;
    border-radius: 5%;
    padding: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.trending-users {
    padding-left: 0;
}
